<div class="page-header">
  <%= link_to [@product, @review], :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing review</h1>
</div>

<%= render 'form' %>
